@using PMS_WebApp.Constants;
@{
	ViewBag.Title = "ExaminationConfig";
}

<h2>Examination Type Configuration</h2>
<link href="http://cdn.jsdelivr.net/timepicker.js/latest/timepicker.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
<script src="http://cdn.jsdelivr.net/timepicker.js/latest/timepicker.min.js"></script>
<form class="form-horizontal" id="ExaminationTypeForm" onSubmit="return false;">
	<div class="form-group">
		<label for="inputExaminationType" class="col-lg-2 control-label">Examination Type</label>
		<div class="col-lg-10">
			<input type="text" class="form-control" id="inputExaminationType" placeholder="Examination Type">
		</div>
	</div>
	<div class="form-group">
		<label for="time" class="col-lg-2 control-label">Duration</label>
		<div class="col-lg-10">
			<div class="row">
				<div class="col-sm-2 hours-input"><input type="number" class="form-control input-sm" id="DurationHours" placeholder="HH"></div><div class="col-sm-1 colon-width">:</div>
				<div class="col-sm-2 minutes-input"><input type="number" class="form-control input-sm" id="DurationMinutes" placeholder="MM"></div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="inputTotalMarks" class="col-lg-2 control-label">Total Marks</label>
		<div class="col-lg-10">
			<input type="number" class="form-control" id="inputTotalMarks" placeholder="Total Marks">
		</div>
	</div>
	<div class="form-group">
		<div class="offset-lg-2 col-lg-10">
			<button class="btn btn-default" onclick="AddExaminationType()">Submit</button>
		</div>
	</div>
</form>
<br />
<h2>Examination Types</h2>
<table class="table table-striped" id="ExaminationTypeTable">
	<thead><tr><th>Examination Type</th><th>Duration (HH : MM)</th><th>Total Marks</th><th>Selection</th></tr></thead>
	<tbody id="ExaminationTypeDataTable"></tbody>
</table>
<form class="form-inline">

</form>
<script>
	/* Create an array with the values of all the input boxes in a column */
	$.fn.dataTable.ext.order['dom-text'] = function (settings, col) {
		return this.api().column(col, { order: 'index' }).nodes().map(function (td, i) {
			return $('input', td).val();
		});
	}

	/* Create an array with the values of all the input boxes in a column, parsed as numbers */
	$.fn.dataTable.ext.order['dom-text-numeric'] = function (settings, col) {
		return this.api().column(col, { order: 'index' }).nodes().map(function (td, i) {
			return $('input', td).val() * 1;
		});
	}

	/* Create an array with the values of all the select options in a column */
	$.fn.dataTable.ext.order['dom-select'] = function (settings, col) {
		return this.api().column(col, { order: 'index' }).nodes().map(function (td, i) {
			return $('select', td).val();
		});
	}

	/* Create an array with the values of all the checkboxes in a column */
	$.fn.dataTable.ext.order['dom-checkbox'] = function (settings, col) {
		return this.api().column(col, { order: 'index' }).nodes().map(function (td, i) {
			return $('input', td).prop('checked') ? '1' : '0';
		});
	}
	$(document).ready(function () {
		showLoader();
		$.ajax({
			url: 'http://localhost:49692/odata/ExaminationTypes',
			type: 'GET',
			dataType: 'json',
			success: function (data) {
				FillExaminationType(data);
			},
			error: function () {
				console.log("Error please try again");
			}
		});
		
	});
	function FillExaminationType(data) {
		$.each(data.value, function () {
			var tr = $("<tr>");
			var td_ExamTypeName = $("<td>").html($("<input>", { "type": "text", "class":"form-control" }).val(this.ExaminationType1.toString()));
			var formattedExamDuration = this.duration.replace("PT", "").replace("H", ":").replace("M", ":");
			var formattedExamDurationHours = formattedExamDuration.split(":")[0];
			var formattedExamDurationMinutes = formattedExamDuration.split(":")[1];
			var td_ExamTypeDuration = $("<td>").html(
				$("<form class=\"form - inline\"></form>").html(
					$("<div class=\"form - group\"></div>").html(
						$("<input>", { "type": "number", "class": "form-control", "placeholder": "HH", "value": formattedExamDurationHours })
					)
				).append(
					$("<div class=\"form - group\"></div>").html(
						":"
					)
				).append(
					$("<div class=\"form - group\"></div>").html(
						$("<input>", { "type": "number", "class": "form-control", "placeholder": "MM", "value": formattedExamDurationMinutes })
					)
				)
			);
			var td_TotalMarks = $("<td>").html($("<input>", { "type": "text", "class": "form-control" }).val(this.totalmarks.toString()));
			var input_selection = $("<input>", { "type": "checkbox", "id": this.ExaminationTypeId.toString(), "class":"checkbox" })
			var td_Selection = $("<td>").html(input_selection);
			tr.html(td_ExamTypeName).append(td_ExamTypeDuration).append(td_TotalMarks).append(td_Selection);
			$("#ExaminationTypeDataTable").append(tr);
		});
		$("#ExaminationTypeTable").DataTable({
			"columns": [
				{ "orderDataType": "dom-text", type: 'string' },
				{ "orderDataType": "dom-text-numeric" },
				{ "orderDataType": "dom-text-numeric" },
				null
			]
		});
		endLoader();
	}
	function AddExaminationType() {
		var data = {
			ExaminationType1: $("#inputExaminationType").val().trim(),
			duration: $("#DurationHours").val() + ":" + $("#DurationMinutes").val(),
			totalmarks: $("#inputTotalMarks").val(),
			Status: true
		}
		$.ajax({
			url: 'http://localhost:49692/odata/ExaminationTypes',
			type: 'POST',
			dataType: 'json',
			data: data,
			success: function (d) {
				alert("Saved Successfully");
				document.getElementById("ExaminationTypeForm").reset();
			},
			error: function () {
				alert("Error please try again");
			}
		});
	}
</script>